# Binaries
bin/
obj/

# User-specific files
*.user
*.suo

# Visual Studio
.vs/
.vscode/

# NuGet
packages/
*.nupkg

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Rider
.idea/

# macOS
.DS_Store

# Windows 
Thumbs.db
